@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

body {
  width: 500px;
  height: auto;
  border: 3px solid #73ad21;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  justify: center;
  background: rgb(0, 255, 128);
  color: black;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 460px;
  height: auto;
  border: 3px solid green;
  background: red;
  padding: 15px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}

#header-img {
  width: 50px;
  height: 60px;
}

#nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: auto;
  border: 3px solid green;
  background: lightblue;
  color: lihtblue;
  padding: 15px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: inset 0 0 0 15px blue;
}

.nav-link {
  width: 85px;
  height: auto;
  border: 1px solid blue;
  background: lightgreen;
  color: black;
  display: inline-block;
}

#form {
  width: 180px;
  height: auto;
  border: 3px solid green;
  background: yellow;
  padding: 15px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  justify: center;
}

#email {
  display: flex;
  justify-content: center;
  align-items: center;
}

#submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}




